<template>
    <div>
        <section class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                <h1>Buat reservasi</h1>
                </div>
                <div class="col-sm-6">
                
                </div>
            </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="card card-primary">
                <div class="card-header">
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div v-if="errors.length > 0" class="alert alert-danger" role="alert">
                        <ul>
                            <li v-for="err in errors" :key="err">{{ err }}</li>
                        </ul>
                    </div>
                    <form role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nama</label>
                                    <input type="text" v-model="model.name" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Jenis kelamin</label>
                                     <v-select :options="['Laki-laki','Perempuan']" v-model="model.gender"></v-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>No Tlp</label>
                                    <input type="number" v-model="model.phone" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Poli</label>
                                   <v-select :options="polis" v-model="model.poli"></v-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Usia</label>
                                    <input type="number" v-model="model.age" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-6">
                               
                            </div>
                        </div>
                        <!-- text input -->
                    </form>
                </div>
                <div class="card-footer pull-right text-right">
                    <button @click.prevent="store" v-if="load == false" class="btn btn-md btn-primary">Simpan</button>
                    <button class="btn btn-primary" v-else-if="load == true" @click.prevent="">
                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                    </button>
                </div>
                <!-- /.card-body -->
            </div>
            </div>
            
        </section>
            <vue-snotify></vue-snotify>
    </div>
</template>

<script>
import axios from 'axios'
import vueselect2 from "vue-select2"
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';

export default {
    components:{
        'v-select': vSelect,
        "vue-select": vueselect2
    },
    created(){
        this.getPoli();
    },
    mounted(){
        
    },
    data(){
        return {
            load:false,
            polis:[],
            model:{
                name:"",
                gender:"",
                phone:"",
                poli:"",
                age:""
            },
            errors:[]
        }
    },
    methods:{
        validasiForm(){
            let self = this;
            self.errors = [];

            self.model.name == "" ? self.errors.push("Nama harus di isi")  : "";
            self.model.gender == "" ? self.errors.push("Jenis kelamin harus di isi") : "";
            self.model.phone == "" ? self.errors.push("No tlp harus di isi") : "";
            self.model.poli == "" ? self.errors.push("Poli harus di isi") : "";
            self.model.age == "" ? self.errors.push("Usia harus di isi") : "";
        },
        getPoli(){
            let self = this;
            axios({
                url:`${process.env.MIX_APP_URL}/public/api/poli`
            })
            .then((res)=>{
                console.log(res.data.data);

                res.data.data.forEach((v,i)=>{
                    self.polis.push(v.name)
                });
            })
            .catch((err)=>{
                console.log(err);
            })
        },
        store(){
            let self = this;
            self.validasiForm();
            if(self.errors.length > 0){                
                return;
            }

            self.load = true;
            axios({
                url:`${process.env.MIX_APP_URL}/public/api/reservasi_pasien`,
                method:"POST",
                data:self.model
            })
            .then((res)=>{
                self.load = false;
                console.log(res);    
                this.$swal('Sukses','Reservasi berhasil di buat','success');  
                self.model.name = "" ;
                self.model.gender = "" ;
                self.model.phone = "" ;
                self.model.poli = "" ;     
                self.model.age = "" ;     
            })
            .catch((err)=>{
                self.load = false;
                console.log(err);
            })
        }
    }
}
</script>

<style>
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 18px;
}
.lds-ellipsis div {
  position: absolute;
  top: 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

</style>