<template>
    <div>
        <section class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    
                </div>
            </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
           <div id="vue-root">
                <datatable :columns="columns" :data="rows" class="table text-center">
                     
                </datatable>
            </div>
        </section>
    </div>
</template>

<script>
import axios from 'axios'
import vueselect2 from "vue-select2"
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
export default{
    created(){
        this.getReservasi();
    },
    mounted(){
        let self = this;
        setInterval(()=>{
            self.getReservasi();
        },20000);
    },
    data(){
        return {
            columns: [
                {label: 'Nama', field: 'name', headerClass: 'class-in-header second-class',align: 'center'},
                {label: 'Jenis kelamin', field: 'gender',align: 'center'},
                {label: 'Usia', field: 'age',align: 'center'},
                {label: 'Tlp', field: 'phone',align: 'center'},
                {label: 'Antrian', field: 'queue',align: 'center'},
                {label: 'Poli',field:"poli.name", interpolate: true,align:"center"}
            ],
            rows: [
                //...
                
            ]
        }
    },
    methods:{
        getReservasi(){
            let self = this;
            axios({
                url:`${process.env.MIX_APP_URL}/public/api/reservasi`
            })
            .then((res)=>{
                console.log(res);
                self.rows = res.data.results.reservasi;
            })
            .catch((err)=>{
                console.log(err);
            })
        }
    }
}
</script> 